nav{
  z-index: 1;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo{
  width: auto;
  height: 65px;
  float: left;
  padding: 0;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 0;
}

li {
    float: ;
    padding: 0px 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
    font-weight: 400;
    font-size: 200%;
    float: right;
}

li a:hover {
    color: #e3c618;
}

.empty{
  height: 100px;
}

.column {
    float: left;
    width: 33%;
    display: none;
}

.row {
    width: 80%;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.show {
  display: block;
}

.selectionbox {
  text-align: center;
}

.content {
    background-color: white;
    overflow: hidden;
    margin: 20px;
}

.mugs {
  text-align: center;
}

.mugs img{
  opacity: 1;
  display: inline-block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%)*/
}

div.product {
    border: 1px solid #ccc;
    position: relative;
}

div.product:hover {
    border: 1px solid black;
}

.product:hover img {
  opacity: 0.6;
}

.product:hover .middle {
  opacity: 1;
}

.description {
  background-color: black;
  opacity: 0.9;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 5px;
  width: 150px;
}

@media (max-width: 800px) {
  .column {
    float: left;
    width: 50%;
  }
}

@media (max-width: 360px) {
  .column {
    float: left;
    width: 100%;
  }
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 50px;
}

label > input:checked + img {
  height: 50px;
  width: 50px;
  margin: 50px;
}

@media (max-width: 360px) {
  label > input + img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 20px;
  }
}

@media (max-width: 360px) {
  label > input:checked + img {
      height: 30px;
      width: 30px;
      margin: 20px;
      border-bottom: 1px solid black;
      padding-bottom: 2px;
  }
}

@media (max-width: 360px) {
  .animal {
      visibility: hidden;
  }
}

.product-page {
  text-align: center;
  max-width: 65%;
  margin: auto;
  overflow: hidden;
}

.product-page img {
  width: 33.33%;
  float: left;
  margin-right: 5%;
  border: 1px solid #ccc;
}

.product-description {
  width: 100%;
}

.product-description h3, p {
  text-align: justify;
}

.product-description button {
  float: right;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  height: 50px;
  margin-top: 10px;
}

.product-description button:hover {
  background-color: white;
  border-radius: black;
  border: 2px solid black;
  color: black;
}

@media (max-width: 800px) {
  .product-page img {
    width: 100%;
  }

  .product-description {
    width: 100%;
  }
}

.boo img {
  margin-top: 10px;
  border: none;
  float: left;
}
